%ul
  %li
    %a{:href => '/picture/1'} picture 1
    |
    %a{:href => '/post/picture/1'} post
  %li
    %a{:href => '/picture/2'} picture 2
    |
    %a{:href => '/post/picture/2'} post
  %li
    %a{:href => '/picture/3'} picture 3
    |
    %a{:href => '/post/picture/3'} post
  %li
    %a{:href => '/picture/4'} picture 4
    |
    %a{:href => '/post/picture/4'} post
  %li
    %a{:href => '/picture/5'} picture 5
    |
    %a{:href => '/post/picture/5'} post
